body{
    background: radial-gradient(circle, #aadef0, #5e7fa0);
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
    padding: 30px;
    font-size: 50px;
    text-transform: uppercase;
    color: #232f3b;
    font-weight: bold;
}

form {
    display: inline;
    width: 20%;
    margin: 0 auto auto 27%;
    float: left;
}

input{
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #5e7fa0;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 7px;
    margin: 10px;
}

input:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
  
input:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#cadastrar{
    padding: 12px;
    display: block;
    border-radius: 10px;
    background-color: #90aac4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.7s ease-in-out;
    width: 50%;
    margin: 5% auto 2%;
}

#cadastrar:hover {
    background-color: #324355 ;
}

#mensagem_renda{
    font-size: 25px;
}

p{
    text-align: center;
    font-size: 22px;
}

.mensagem{
    width: 30%;
    display: inline-block;
}

#profissoes {
    margin: 10px;
}